body{
	background: url(https://cdn.pixabay.com/photo/2016/06/02/02/31/background-1430103_960_720.png);
	background-size: cover;
    
}
#thePlace{

	width:80%;
	height:70vh;
}

.eachone{
	text-align:center;
	color:white;
	font-size:1.2em;
}

.selected{
	height: 50px;
	width:60px;
	
}




.theChoice{
	opacity:0;
}

#winner{
	opacity:0;
}


.playersName{
	 font-size:2em;
	 color:white;
	 font-weight:bold;
	
}

#name1{
	text-shadow: 0px 0px 5px #7CFC00;
}
#name2{
	 text-shadow: 0px 0px 5px #F08080;
}


.changeButton{
	color:white;
	
	border:none;
	font-size:0.5em;
}
#change1{
	background: #7FFF00;
	transition: all .2s ease-in-out; 
}
#change1:hover { transform: scale(1.1); }

#change2{
	background: #FF8C00;
}
#change2:hover { transform: scale(1.1); }
.startAga{
	color:white;
	background:black;
	font-size:2em;
}

#scoreP1{
	text-shadow: 0px 0px 5px #7CFC00;
	font-size:2em;
	font-weight: bold;
}
#scoreP2{
	text-shadow: 0px 0px 5px #F08080;
	font-size:2em;
	font-weight: bold;
}



#p1Piedra{
	animation: animatePowers1 3s infinite;
}
#p1Papel{
	animation: animatePowers2 3s infinite;
}
#p1Tijera{
	animation: animatePowers3 3s infinite;
}
#p2Piedra{
	animation: animatePowers3 3s infinite;
}
#p2Papel{
	animation: animatePowers2 3s infinite;
}
#p2Tijera{
	animation: animatePowers1 3s infinite;
}











@keyframes animatePowers1{
  0%   {transform: scale(1.0);
            -webkit-transform: scale(1.0);}
  25%  {transform: scale(1.2);
            -webkit-transform: scale(1.2);}
  50%  {transform: scale(0.8);
            -webkit-transform: scale(0.8);}
  100% {transform: scale(1.0);
            -webkit-transform: scale(1.0);;}
}
@keyframes animatePowers2{
  0%   {transform: scale(1.0);
            -webkit-transform: scale(1.0);}
  25%   {transform: scale(1.0);
 -webkit-transform: scale(1.0);}
  50%  {transform: scale(1.2);
            -webkit-transform: scale(1.2);}
  75%  {transform: scale(0.8);
            -webkit-transform: scale(0.8);}
  100% {transform: scale(1.0);
            -webkit-transform: scale(1.0);;}
}
@keyframes animatePowers3{
  0%   {transform: scale(1.0);
            -webkit-transform: scale(1.0);}
  50%   {transform: scale(1.0);
 -webkit-transform: scale(1.0);}
  75%  {transform: scale(1.2);
            -webkit-transform: scale(1.2);}
  85%  {transform: scale(0.8);
            -webkit-transform: scale(0.8);}
  100% {transform: scale(1.0);
            -webkit-transform: scale(1.0);;}
            
}



.classname {
  animation-name: cssAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
  }
}


.classAnimateStartAgain{
	animation: startAgainAnim 0.5s infinite;
}

@keyframes startAgainAnim{
  0%   {transform: scale(1.0);
            -webkit-transform: scale(1.0);}
  25%  {transform: scale(1.1);
            -webkit-transform: scale(1.2);}
  50%  {transform: scale(0.9);
            -webkit-transform: scale(0.8);}
  100% {transform: scale(1.0);
            -webkit-transform: scale(1.0);;}
}




@keyframes WinAnim{
  0%   {
         
       opacity: 0;   
            
            }
  25%  {
            
            opacity:25;
            }
  50%  {
            opacity:50;
            }
  100% {
            opacity:100;
            }
}